body {
    background-image: url('../images/bg.png');
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    padding-top: 20px;
}

.headline {
    background: white;
    font-size: 1.5em;
    padding: 15px;
}
.splash-copy {
    background: #ddd;
    padding: 15px;
    font-size: 14px;
    font-weight: 100;
}

.splash-cta {
    display: flex;
    justify-content: space-between;
}

.splash-cta a {
    display: inline-block;
    width: 240px;
    height: 260px;
    text-decoration: none;
    transition: all .3s;
}

.splash-cta a:hover {
    transform: scale(1.1);
    box-shadow: 3px 4px 15px 2px #000;
}

.splash-cta .splash-link .spalsh-title {
    display: block;
    padding: 15px;
    background: orangered;
    color: white;
}

.splash-cta a:nth-child(1) {
    background: url("../images/sp-contractors-img.png");
}

.splash-cta a:nth-child(2) {
    background: url("../images/sp-architects-img.png");
}


.splash-cta a:nth-child(3) {
    background: url("../images/sp-distributor.png");
}


.splash-cta a:nth-child(4) {
    background: url("../images/sp-homeowner-img.png");
}

.main-content {
    background: #ddd;
    padding: 15px 25px;
    margin: 15px 0;
}

.main-content p {
    margin-top: 0;
}

.accordion {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion li {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.accordion li h4 {
    color: orangered;
    text-transform: uppercase;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    letter-spacing:1px;
}
/* 
.accordion li .detail {
    display: none;
} */

.accordion li .detail {
    padding: 0px 25px 40px 25px;
}

.accordion li p {
    margin: 0;
}

.accordion .detail .hp-links {
    display: flex;
}

.accordion .hp-links > div {
    margin-right: 30px;
}

.accordion .hp-links a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    font-weight: 600;
    color: orangered;
}

.accordion .hp-links a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background: orangered;
    color:white;
    text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
}

.more {
padding: 25px 25px 25px 0px;

}